.artist {
	background-color: white;
	img {
		width: 100%;
		height: 50vh;
	}
	.img {
		width: 10%;
		float: left;
		img {
			width: 100%;
			height: 10vh;
		}
	}
	h1, p, span {
		margin-left: 2%;
	}
}