$bg: #c74379; 
$shadow: inset 0px 7px 200px 50px rgba(0, 0, 0, 0.16);
$family: fontBase, arial; 
$topp: 2%;
.top {
	background-color: $bg;
	box-shadow: $shadow;
	nav {
		float: right;
		font-family: $family;
		color: white;
		margin-top: $topp;
		margin-right: $topp;
	}
	.logo {
		width: 6%;
		margin:1%;
	}
	:nth-child(3) {
		width: 48%;
		display: block;
		margin-left: 25%;
	}
	:nth-child(4) {
		width: 3%;
		margin-left: 47%;
	}
}

@media (max-width: 700px) {
	.top {
		:nth-child(3) {
			width: 100%;
			margin-left: 0%;
			padding: 15%;
	    	box-sizing: border-box;
		}
		:nth-child(4) {
		    width: 15%;
		    margin-left: 42%;
		}
		.logo {
			width: 10%;
		}
	}
}

